extends layout

block content
    form(method="post", action='/edit/#{beer.id}')
        div.input
            span.label Name
            input(type="text", name="name", value=beer.name)
        div.input
            span.label Type
            input(type="text", name="type", value=beer.type)
        div.input
            span.label Brewery
            input(type="text", name="brewery", value=beer.brewery)
        div.input
            span.label Tried
            input(type="checkbox", name="tried", value=beer.tried)
        div.actions
            input(type="submit", value="update")

